/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Acrowit Main CSS Document */

/* basic style */
@font-face {
    font-family: "OpenSansRegular";
    src: url('../resources/fonts/opensans/opensans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url('../resources/fonts/opensans/opensans_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url('../resources/fonts/opensans/opensans_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* GLOBAL STYLES */

/* structure:: page */
body{
    background:url(../img/bg_football.png) repeat;
    font-family: "OpenSansRegular";
    margin:0;
    padding:0;
    float:left;
    width:100%;
}


.wrapper_content{
    width:960px;
    margin:0 auto;
}


/* structure:: buttons*/
.btn{   
  -webkit-border-radius: 0.25em;
          border-radius: 0.25em;
 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

.btn_large{
    font-size:1em;
    padding:0.5em 0.5em;
}

.btn_green{
    color:#fff;
    background-color: #5bb75b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image:    -moz-linear-gradient(top, #62c462, #51a351);
    background-image:      -o-linear-gradient(top, #62c462, #51a351);
    background-image:         linear-gradient(to bottom, #62c462, #51a351);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

.btn_red{
  color:#fff;
  background-color: #DA4F49;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EE5F5B), to(#BD362F));
  background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
  background-image:    -moz-linear-gradient(top, #EE5F5B, #BD362F);
  background-image:      -o-linear-gradient(top, #EE5F5B, #BD362F);
  background-image:         linear-gradient(to bottom, #EE5F5B, #BD362F);
  border-color: #BD362F #BD362F #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


/*structure::list*/
ul{
    list-style: none;
    padding:0;
}








/* MODULAR STYLES */

/*
** MODULE:: TOP
*/
#container_top{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    background:rgba(32,32,32,0.8);
    color:#fff;
}

   #logo{
    float:left;
   } 

    h1{
        float:left;
        margin-bottom:0;
        padding-bottom:0;
    }

    /*p*/
    .tagline{
        float:right;
    }

    /* input */
    #globalsearch{
        float:left;
        margin:2em 0 0 1em;
        border-left:1px dashed #999;
    }

        #globalsearch input[type=text]{
            padding:0.25em 0.5em;
            font-family: 'OpenSansLight';
            margin:0 0 0 1em;
        }

    .userlogin{
        float:right;
        clear:right;
    }


#wrapper_middle{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    color:#fff;
    min-height:700px; 
}

    h2 {
        float:left;
        clear:both;
        width:96%;
    }

    .pagetitle{
      padding:0.5em 2%;
      font-family: 'OpenSansLight', sans-serif;
      display:block;
      background:rgba(30, 30, 30, 0.8);
    }

    .generalform{
        clear:both;
        float:left;
        width:80%;
    }

        .generalform ul{
            margin:0;
            padding:0;
            list-style:none;
            width:80%;
        }

            .generalform li{
                margin:0.5em 0;
                float:left;
                clear:left;
                width:100%;
            }

                .generalform input, 
                .generalform label{
                    float:left;
                    clear:left;
                }

    .generaltable{
        float:left;
        clear:both;
        margin:1em 0;
        width:60%;
    }
        .generaltable thead tr{
            border-bottom:1px dashed #fff;
        }
            .generaltable th{
                text-align: left;
            }

            .generaltable td{
                font-size:0.75em;
            }




/*
** MODULE::landing page
*/
/*ul*/
.wrapper_entities{
    float:left;
    width:100%;
}

    .wrapper_entities li{
        float:left;
        width:180px;
        background:rgba(32,32,32,0.8);
        margin:0 10px 0 0;
    }
        .wrapper_entities img{
            text-align: center;
        }

        .wrapper_entities figcaption{
            background:rgba(32,32,32,0.8);
            padding:0.25em 0.5em;
            color:#fff;
            text-align: center;
        }




/*
** MODULE::team circles
*/
div.circle {
    margin: 100px 0;
    width:200px;
    height:200px;
    float:left;
}


div.outer-circle {
 
 
    background:transparent;
    width:122px;
    height:122px;
 
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
    border:1px solid #aaaaaa;
 
    position:absolute;
    z-index:800;
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 
}

div.outer-circle.hover {
    -moz-transform: scale(1.45);
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
}

div.middle-circle {
 
    margin:1px;
 
    width:122px;
    height:122px;
 
 
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
 
    /* Set the background gradient */
 
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #d8d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* W3C */

 
    position:absolute;
    z-index:900;
 
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 
}

div.middle-circle.hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

div.inner-circle {
 
    /* This margin is used to position
    the circle in the center */
 
    margin:14px;
 
    /* Specify the background and
    width and height */
 
    background:#3f96d1;
    width:96px;
    height:96px;

 
    font-size:11px;
    color:#FFF;
    line-height:96px;
    text-align:center;
    font-family:Arial;
 
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
 
 
    -webkit-box-shadow: inset 0px 1px 1px 0px #575757;
    -moz-box-shadow: inset 0px 1px 1px 0px #575757;
    box-shadow: inset 0px 1px 1px 0px #575757;
 
    border-bottom:1px solid #FFF;
    position:absolute;
    z-index:1000;
 
}






.circlesArray{
    float:left;
    position:relative;
    width:600px;
    text-align:center;
    border:1px solid #CFE600;
    margin-left:-350px;
    left:50%;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:100px;
}

.draggableCircles{
    float:left;
    position:relative;
    margin-right:10px;
    cursor:pointer;
}

.red{
    width: 70px;
   height: 70px;
   background: red; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   float:left;
   
}

.purple{
    width: 70px;
   height: 70px;
   background: purple; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   float:left;
  
}

.green{
    width: 70px;
   height: 70px;
   background: green; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   float:left;
   
}

.black{
    width: 70px;
   height: 70px;
   background: black; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   float:left;
   
}

.yellow{
    width: 70px;
   height: 70px;
   background: yellow; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   float:left;
  
}

.pink{
    width: 70px;
   height: 70px;
   background: #E60033; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   float:left;
  
}

#mainCircleContainer{
    width:140px;
    height:140px;
    position:absolute;
    top:300px;
    left:50%;
    margin-left:-70px;
    
    /*border:1px solid #FFFF00;*/
}

#dragWindow{
    width:100%;
    height:100%;
    float:none;
    clear:both;
    position:absolute;
    left:0;
    top:0;
    opacity: 0;
    z-index: 200;
}

#smallCircle{
   width: 60px;
   height: 60px;
   background: #5EAEDE; 
   -moz-border-radius: 60px; 
   -webkit-border-radius: 60px; 
   border-radius: 60px;
   float:left;
   z-index: 70;
   position:absolute;
   left:50%;
   top:50%;
   margin-left:-30px;
   margin-top:-30px;
}

#outerCircle{
   z-index: 50;
   width: 80px;
   height: 80px;
   background: #005FE6; 
   -moz-border-radius: 80px; 
   -webkit-border-radius: 80px; 
   border-radius: 80px;
   float:left;
   left:50%;
   top:50%;
   margin-left:-42px;
   margin-top:-42px;
   position:relative;
   border: 2px solid #00BBE6;
}

#circleLabel{
    color:#000000;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:600;
    font-size:12px;
    float:left;
    text-align: center;
    width:100%;
    height:100%;
    vertical-align: middle;
    top:20px;
    position:relative;
    margin-left:-1px;
}

.resultCircle{
    width:30px;
   height: 30px;
   background: #ffffff; 
   -moz-border-radius: 30px; 
   -webkit-border-radius: 30px; 
   border-radius: 30px;
   float:left;
   position:absolute;
   opacity:0;
}

#red{
    background:red;
}

#purple{
    background:purple;
}

#green{
    background:green;
}

#yellow{
    background:yellow;
}

#black{
    background:black;
}

#pink{
    background:#E60033;
}



/*
**MODULE:: footer;
*/
.container_footer{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    background:rgba(32,32,32,0.8);
    color:#fff;
    clear:both;
    font-family:'OpenSansLight';
    font-size:0.75em;
}

    .container_footer p{
        padding:0.5em 0;
    }





/*
** MODULE:: ISOTOPE;
*/

#container{
  width:90%;
  height:480px;
}

.item{
  margin:5px 10px 0 0;
}

.team{
  width:200px;
  height:200px;
  background:#f90;
}

.player{
  width:200px;
  height:200px;
  background:#c0f;
}

.manager{
  width:200px;
  height:200px;
  background:#3f0;
}





.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}






/*
** MODULE:: SLIMBOX;
*/
.wrapper_slimbox{
  position:absolute;
  top:0;
  left:0;
  display:none;
  width:100%;
  height:100%;
}

.wrapper_slimbox.active{
  display:block;
}

  .overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    z-index:10;
    background:rgba(30,30,30, 0.8);
  }

  .slimboxclose{
    display:block;
    width:16px;
    height:16px;
    background:url(../img/btn_close.png) center center no-repeat;
    position:absolute;
    top:0.75em;
    right:2%;
    cursor: pointer;
  }

  .slimbox{
    position:relative;
    z-index:20;
    background:#fff;
    width:60%;
    margin:5% 0 0 20%;
    float:left;

/*    -webkit-border-radius: 12px;
            border-radius: 12px;

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;*/

  }
    .sbox{
      float:left;
      width:100%;
      overflow: hidden;
    }

    /*login page*/
    #sbox_login{
      height:300px;
    }

      .sbox h3{
        float:left;
        display:block;
        width:90%;
        padding:0.5em 5%;
        background:#bfbfbf;
        margin:0;
      }

      .sbox_content{
        width:100%;
        float:left;
        margin:0;
        padding:0;
      }

      .sbox_container{
        display:none;
      }

/* MODULE END */


/*MODULE::LOGIN PAGE;*/
#userlogin,
#userlogout{
  width:80%;
  float:left;
  margin:10px 0 0 10%;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
